/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Inter Tight, sans-serif;
} */

.text-balance {
  /* Use a propriedade que quiser aqui */
  white-space: pre-wrap; /* ou outro equivalente */
}
